body { font-family: -apple-system,BlinkMacSystemFont, "Verdana", "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; font-size: .75rem; color: #333; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, span, ul, li { padding: 0; margin: 0; }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl { padding-left: 10px; padding-right: 10px; }

.row { margin-left: -10px; margin-right: -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-left: 10px; padding-right: 10px; }

.feather { width: 18px; height: 18px; vertical-align: text-bottom; }

.btn-primary.blue { background-color: #727cf5; border-color: #727cf5; }

.btn-primary.blue:hover { background-color: #5d67e0; border-color: #5d67e0; }

body { color: #555; }

a { color: #222; }

a:hover { color: black; }

.feather { width: auto; height: auto; }

.feather::before { font-size: 1.1rem; }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl { padding-right: 0; padding-left: 0; }

.btn-primary { background-color: #727cf5; border-color: #727cf5; }

.btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled):hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle { background-color: #636ff3; border-color: #636ff3; }

.btn-secondary { background-color: #f1f3fa; border-color: #f1f3fa; color: #727cf5; }

.btn-secondary:not(:disabled):not(.disabled):focus, .btn-secondary:not(:disabled):not(.disabled):hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle { background-color: #f1f3fa; border-color: #f1f3fa; color: #727cf5; }

.btn-secondary.focus, .btn-secondary:focus { box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.form-control { padding: 0 1rem; width: 100%; font-size: 0.75rem; border-width: 0; border-radius: 3px; background-color: #f1f3fa; }

.table { color: #6d767e; }

.tab-content { width: 100%; }

.breadcrumb-item a, .breadcrumb-item { color: #a0b8d7; }

.breadcrumb-item a + .breadcrumb-item::before, .breadcrumb-item + .breadcrumb-item::before { color: #a0b8d7; }

.breadcrumb-item a.active, .breadcrumb-item a.active a, .breadcrumb-item.active, .breadcrumb-item.active a { color: #7ea2fb; }

.dropdown-toggle, .dropdown-item { font-size: 0.9rem; }

.dropdown-item { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: white; border: 0; background-color: #727cf5; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link { border: 0; }

.nav-tabs .nav-link { padding: 0.75rem 1.8rem; font-size: 0.8rem; }
/*# sourceMappingURL=reset.css.map */