@charset "UTF-8";

$c-p: #727cf5;
$c-blue: #7ea2fb;
$c-dblue: #3469f1;
$c-red: #ff7588;
$c-red2: #b54040;
$c-green: #40ca50;
$c-gray: #f3f4fa;
$c-dark: #1a202e;
$c-dark2: #131822;
$c-dark3: #384055;
$f-g1: #98a6ad;
$f-g2: #a0b8d7;
$f-g3: #858da0;
$f-g4: #6d767e;