@charset "UTF-8";

@import 'color';
@import 'bootstrap';

body {
   color: #555;
}

a {
   color: #222;

   &:hover {
      color: black;
   }
}

.feather {
   width: auto;
   height: auto;

   &::before {
      font-size: 1.1rem;
   }
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
   padding-right: 0;
   padding-left: 0;
}

.btn-primary {
   background-color: $c-p;
   border-color: $c-p;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
   background-color: #636ff3;
   border-color: #636ff3;
}

.btn-secondary {
   background-color: #f1f3fa;
   border-color: #f1f3fa;
   color: #727cf5;
}

.btn-secondary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
   background-color: #f1f3fa;
   border-color: #f1f3fa;
   color: #727cf5;
}

.btn-secondary.focus, .btn-secondary:focus {
   box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-control {
   padding: 0 1rem;
   width: 100%;
   font-size: 0.75rem;
   border-width: 0;
   border-radius: 3px;
   background-color: #f1f3fa;
}

.table {
   color: $f-g4;
}

.tab-content {
   width: 100%;
}

.breadcrumb-item a,
.breadcrumb-item {
   color: $f-g2;

   &+.breadcrumb-item::before {
      color: $f-g2;
   }

   &.active,
   &.active a {
      color: $c-blue;
   }
}

.dropdown-toggle,
.dropdown-item {
   font-size: 0.9rem;
}

.dropdown-item {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.nav-tabs {
   .nav-item.show .nav-link,
   .nav-link.active {
      color: white;
      border: 0;
      background-color: $c-p;
   }
   
   .nav-link:focus,
   .nav-link:hover,
   .nav-link {
     border: 0;
   }

   .nav-link {
     padding: 0.75rem 1.8rem;
     font-size: 0.8rem;
   }
 }
 