@charset "UTF-8";

@import 'color';
@import 'bootstrap';

%disabled {
   background-color: #e9ecef;
   border-color: #e9ecef;
   cursor: default;

   .feather {
      color: $f-g1;
   }
}

body {
   color: #555;
   overflow: hidden;
}

[data-simplebar] {
   height: 100%;
}

a {
   color: #222;

   &:hover {
      color: black;
      text-decoration: none;
   }
}

li {
   list-style: none;
}

.feather {
   width: auto;
   height: auto;

   &::before {
      font-size: 1.1rem;
   }
}

.datepicker {
   z-index: 1051;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
   padding-right: 0;
   padding-left: 0;
}

label,
.label {
   margin-bottom: .5rem;
   font-size: 0.85rem;
}

.btn {
   &.btn-lg {
      padding: 1rem;
      font-size: 1rem;
      line-height: 1;
      border-radius: 0.25rem;

      span {
         font-size: 1rem;
      }
   }

   &.btn-sm {
      .feather::before,
      span {
         font-size: 0.85rem;
      }

   }

   &.more {
      .feather::before {
         display: block;
      }

      &[aria-expanded="true"] {
         .feather::before {
            transform: rotate(-180deg);
         }
      }
   }

   &.btn-white {
      border: 1px solid #c4c4c4;
      background-color: white;
   }
   
   span {
      font-size: 0.85rem;
   }
   
   &.side-toggle,
   &.btn-primary,
   &.btn-success {
      .feather {
         color: white;
      }
   }

   .feather {
      color: $c-dark3;
   }
}

.btn-primary {
   background-color: $c-p;
   border-color: $c-p;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
   background-color: #636ff3;
   border-color: #636ff3;
}

.btn-secondary {
   color: $f-g3;
   background-color: #f1f3fa;
   border-color: #f1f3fa;
   
   &.disabled,
   &:disabled {
      @extend %disabled;
   }
}

.btn-secondary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
   background-color: #f1f3fa;
   border-color: #f1f3fa;
   color: #727cf5;
}

.btn-secondary.focus, .btn-secondary:focus {
   box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-control {
   width: 100%;
   font-size: 0.75rem;
   border-width: 0;
   border-radius: 3px;
   background-color: #f1f3fa;
   
   &:disabled,
   &[readonly] {
      @extend %disabled;
   }
}

.input-group-prepend {
   margin-right: 0;
}

.input-group-text {
   padding: 0;
   border-color: #c4c4c4;
   background-color: white;

   .btn {
      padding: 0 0.85rem;
      height: 100%;
   }
}

.table {
   table-layout: fixed;
   color: $f-g4;
   
   a {
      color: $f-g4;
   }

   thead th,
   th,
   td {
      border-color: $f-g5;
   }

   tr:nth-child(even) th,
   tr:nth-child(even) td {
      background-color: #f1f3fa;
   }
}

.tab-content {
   width: 100%;
}

.breadcrumb-item a,
.breadcrumb-item {
   color: $f-g1;

   &+.breadcrumb-item::before {
      color: $f-g1;
   }

   &.active,
   &.active a {
      color: $f-g1;
   }
}

.dropdown-toggle,
.dropdown-item {
   font-size: 0.9rem;
}

.dropdown-toggle::after {
   margin-left: 0;
}

.dropdown-item {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.nav-tabs {
   border-bottom: 0;
   
   .nav-item.show .nav-link,
   .nav-link.active {
      color: $c-dark;
      border: 0;
      background-color: white;
   }
   
   .nav-link:focus,
   .nav-link:hover,
   .nav-link {
      border: 0;
   }
   
   .nav-link {
      padding: 0.688rem 1.5rem;
      background-color: #eee;
      font-size: 0.85rem;
      color: $f-g1;
   }
 }

 .page-item {
   .page-link {
      color: $f-g4;
   }

   &.active .page-link {
      background-color: $c-blue;
      border-color: $c-blue;
   }
 }
 